#getExperiencePoints
public net.minecraft.entity.EntityLiving getExperiencePoints(Lnet/minecraft/entity/player/EntityPlayer;)I
public net.minecraft.entity.EntityLivingBase getExperiencePoints(Lnet/minecraft/entity/player/EntityPlayer;)I
public net.minecraft.entity.monster.EntityZombie getExperiencePoints(Lnet/minecraft/entity/player/EntityPlayer;)I
public net.minecraft.entity.passive.EntityAnimal getExperiencePoints(Lnet/minecraft/entity/player/EntityPlayer;)I
public net.minecraft.entity.passive.EntityChicken getExperiencePoints(Lnet/minecraft/entity/player/EntityPlayer;)I
public net.minecraft.entity.passive.EntityWaterMob getExperiencePoints(Lnet/minecraft/entity/player/EntityPlayer;)I
public net.minecraft.entity.player.EntityPlayer getExperiencePoints(Lnet/minecraft/entity/player/EntityPlayer;)I

#metadataSerializer
public net.minecraft.client.Minecraft metadataSerializer

#invulnerable
public net.minecraft.entity.Entity invulnerable

public net.minecraft.entity.EntityLivingBase lastAttackedEntity # lastAttackedEntity
public net.minecraft.entity.EntityLivingBase lastAttackedEntityTime # lastAttackedEntityTime

public net.minecraft.client.gui.FontRenderer renderString(Ljava/lang/String;FFIZ)I # renderString

# markVelocityChanged
public net.minecraft.entity.Entity markVelocityChanged()V
public net.minecraft.entity.EntityLivingBase markVelocityChanged()V

# exploder
public net.minecraft.world.Explosion exploder

# arrow related stuff
public net.minecraft.entity.projectile.EntityArrow inTile # inTile
public net.minecraft.entity.projectile.EntityArrow inData # inData
public net.minecraft.entity.projectile.EntityArrow xTile # xTile
public net.minecraft.entity.projectile.EntityArrow yTile # yTile
public net.minecraft.entity.projectile.EntityArrow zTile # zTile

public net.minecraft.entity.EntityLiving attackTarget # attackTarget

public net.minecraft.pathfinding.SwimNodeProcessor getWaterNode(III)Lnet/minecraft/pathfinding/PathPoint; # getWaterNode

public net.minecraft.pathfinding.SwimNodeProcessor isFree(III)Lnet/minecraft/pathfinding/PathNodeType; # isFree

public net.minecraft.entity.ai.EntityAITarget taskOwner # taskOwner

public net.minecraft.world.biome.Biome biomeName

public net.minecraft.item.crafting.Ingredient matchingStacks

public net.minecraft.client.renderer.entity.RenderManager renderPosX # renderPosX
public net.minecraft.client.renderer.entity.RenderManager renderPosY # renderPosY
public net.minecraft.client.renderer.entity.RenderManager renderPosZ # renderPosZ