#getExperiencePoints
public net.minecraft.entity.EntityLiving func_70693_a(Lnet/minecraft/entity/player/EntityPlayer;)I
public net.minecraft.entity.EntityLivingBase func_70693_a(Lnet/minecraft/entity/player/EntityPlayer;)I
public net.minecraft.entity.monster.EntityZombie func_70693_a(Lnet/minecraft/entity/player/EntityPlayer;)I
public net.minecraft.entity.passive.EntityAnimal func_70693_a(Lnet/minecraft/entity/player/EntityPlayer;)I
public net.minecraft.entity.passive.EntityChicken func_70693_a(Lnet/minecraft/entity/player/EntityPlayer;)I
public net.minecraft.entity.passive.EntityWaterMob func_70693_a(Lnet/minecraft/entity/player/EntityPlayer;)I
public net.minecraft.entity.player.EntityPlayer func_70693_a(Lnet/minecraft/entity/player/EntityPlayer;)I